
script(src="/socket.io/socket.io.js")
script(src="/colorpicker/js/bootstrap-colorpicker.js")
script(src="/js/noty/packaged/jquery.noty.packaged.min.js")
script(src="/js/draw.js")
script(src="/js/client.js")
