extends index

block content
    h1 Authentication
    hr
    .row-fluid
        .col-6.col-sm-6.col-lg-6
            form(action="/register", method="post", role="form")
                fieldset
                    legend Register
                    .form-group
                        label(for="inputEmail") Email adress
                        input.form-control#inputEmail(type="email", placeholder="Enter email", name="email")
                    .form-group
                        label(for="inputPassword") Password
                        input.form-control#inputPassword(type="password", placeholder="Password", name="password")
                    .form-group
                        label(for="inputCPassword") Confirm Password
                        input.form-control#inputCPassword(type="password", placeholder="Password", name="cpassword")
                    .form-group
                        label(for="inputUsername") Username
                        input.form-control#inputUsername(type="text", placeholder="Username", name="username")
                    button.btn.btn-default(type="submit") Submit
        .col-6.col-sm-6.col-lg-6
            form(action="/login", method="post", role="form")
                fieldset
                    legend Login
                    .form-group
                        label(for="inputEmail") Email adress
                        input.form-control#inputEmail(type="email", placeholder="Enter email", name="email")
                    .form-group
                        label(for="inputPassword") Password
                        input.form-control#inputPassword(type="password", placeholder="Password", name="password")
                    button.btn.btn-default(type="submit") Submit