#game(style="display:none")
	.col-md-8.fill
		h1 Let's play 
			small#roomName
		.well.well-lg.fill#gameArea
			canvas#draw-div(height=500, width=700)
			.btn-group
				button#clearBtn.btn.btn-danger Clear
				button#leaveRoom.btn.btn-danger Leave Room
			.pull-right 
				h3 Word :
			input.span3#pickColor(value="rgb(0,194,255,0.78)", data-color-format="rgba" type="text")
	.col-md-4.fill
		include partials/game/sidebar
	.row
		br
