doctype html
html(lang="en")
	head
		title Pictionary
		meta(charset="utf8")
		link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="stylesheet", href="/colorpicker/css/colorpicker.css")
		script(src="/jquery/jquery.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/js/countdown.js")
	body
		.navbar.navbar-inverse.navbar-static-top(role="navigation")
			.container
				.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						a.navbar-brand(href='#') Pictionary
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href='/#connect') Home
						ul.nav.navbar-nav.navbar-right
							if (user)
								li.dropdown.pull-right
									a.dropdown-toggle#username(href='#', data-toggle='dropdown') 
										| #{user.username}
										b.caret
									ul.dropdown-menu
										li
											a(href='/profile') Profile
										li
											a(href='/logout') Logout
							else
								li.pull-right
									a(href='/auth') Login
		.container
			block content


	include partials/scripts
