extends header

block content
	h1 Profile
	hr
	.col-6.col-sm-6.col-lg-6
		fieldset
			legend Informations
			dl.dl-horizontal
				dt Username
				dd #{user.username}				
			dl.dl-horizontal
				dt Email address
				dd #{user.email}
	.col-6.col-sm-6.col-lg-6
		fieldset
			legend Stats
			dl
				dt Amount of time played
				dd user.timePlayed
			dl
				dt Number of games done
				dd user.gamesDone
			dl
				dt Average duration of a game
				dd user.avgDurGame
			dl
				dt Average points earned for each game / 10
				dd user.avgEarned
			dl
				dt Earned points from the start
				dd user.earned
			dl
				dt Average time to guess a word
				dd user.avgToGuessAWord
			dl
				dt Number of words not guessed
				dd user.nbOfWordNotGuessed
			dl
				dt Number of drawings leaved unguessed
				dd user.drawLeavedUnguessed


