.fill { 
  height: 80vh;
}
.timer{
	height: 10vh;
	border-bottom: 1px solid;
}
.scores{
	height: 15vh;
	border-bottom: 1px solid;
}
.tchat{
	height: 50.5vh;
	border-bottom: 1px solid;
}
.listAsc{
	bottom: 0px;
}
.borderless.table > tbody > tr > td {
    border: none;
}
#draw-div{
	width: 700px; 
	height: 500px;
	border: 3px solid;
	background-color: white;
}
#gameArea{
	width: 750px;
}