.panel.panel-primary
	.panel-heading
			h3.panel-title Rooms
	.panel-body
		img(src="http://blog.bigpanda.io/wp-content/uploads/2013/01/post-logo-300x71.jpg")
	table.table.table-hover
		thead
			tr
				th Name
				th Players
				th &nbsp;
		tbody#rooms

	button.btn.btn-primary.btn-lg.btn-block(data-toggle="modal", data-target="#addRoom") 
		| Create room

.modal.fade#addRoom(tabindex="-1", role="dialog")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4.modal-title Create a room
			.modal-body
				.form-group
					label(for='name') Name
					input.form-control#createRoomName(name="name", type='text', placeholder='Enter name')
				.form-group
					label(for='language') Language
					select#createRoomLg.form-control(name="language")
						each lang in languages
							option(value="#{lang.abv}") #{lang.name}
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button#createRoomBtn.btn.btn-primary Create
