h1 &nbsp;
.panel.panel-default.fill
	ul.list-group
		li.list-group-item
			script(type="application/javascript") 
				| new Countdown({time: 180, width:200, height:80, rangeHi:"minute"});

		li.list-group-item.scores 
			ul.list-group#users
		li.list-group-item.tchat#messages

	.panel-footer
		form#formMsg
			input#message
			button(type="submit") Send

